# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/monarc_pos?schema=public"

# Server Port
PORT=5000

# Authentication & JWT Secret
JWT_SECRET="monarc_royal_ice_cream_super_secret_jwt_key_2026_987654321"
JWT_EXPIRES_IN="12h"

# Environment
NODE_ENV="development"
